.search {
  margin-top: 15px;
  text-align: center;
  .title {
    margin-bottom: 20px;
  }
  .results {
    margin-top: 20px;
    // color: blue;
    width: 30%;
    margin: auto;
    text-align: left;
  }
}
